@import '../../variables.scss';

.article {
   background: #fff;
   width: clamp(300px, 10vw, 350px);
   border-radius: 10px;
   overflow: hidden;
   transition: 0.2s;
   cursor: pointer;

   @media (max-width: 720px) {
      width: 100%;
   }

   &__img {
      display: block;
      width: 100%;
      //height: 50%;
   }

   &__info {
      padding: 1.5rem;
   }

   &__author {
      font-weight: normal;
      color: $grayish-blue;
      margin-bottom: 1rem;
      font-size: 0.8rem;
   }

   &__title {
      font-weight: normal;
      color: $dark-blue;
      margin-bottom: 0.6rem;
      line-height: 1.4rem;
      transition: 0.2s;

      &:hover {
         color: $sea-green;
      }
   }

   &__description {
      color: $grayish-blue;
      line-height: 1.2rem;
   }

   &:hover {
      transform: scale(1.05);
   }
}
