@import '../../variables.scss';

.articles {
   padding: $sides-padding;
   padding-top: 7rem;
   padding-bottom: 7rem;
   background-color: $very-light-gray;
   display: flex;
   flex-direction: column;

   &__heading {
      color: $dark-blue;
      font-weight: normal;
      font-size: 3rem;
      margin-bottom: 2rem;

      @media (max-width: 720px) {
         text-align: center;
      }
   }

   &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.5rem;

      @media (max-width: 720px) {
         justify-content: center;
      }
   }
}
