@import '../../variables.scss';

.nav {
   margin: 0 1rem;

   @media (max-width: 720px) {
     display: none;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      width: clamp(100px, 40vw, 400px);
      font-size: clamp(0.8rem, 2vw, 18px);
   }

   &__link {
      height: 10vh;
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      position: relative;
      color: $grayish-blue;
      transition: 0.2s;

      &:hover {
         color: $dark-blue;
      }

      &::after,
      &--active::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 0;
         height: 4px;
         background: $gradient;
         transition: 0.2s;
      }

      &--active {
         color: $dark-blue;
      }

      &--active::after {
         width: 100%;
      }
   }
}
