@import '../../variables.scss';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 100px;
   padding: $sides-padding;
   

   &__logo {
      width: clamp(150px, 10vw, 200px);
      cursor: pointer;
   }
}