@import '../../variables.scss';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   padding: $sides-padding;
   position: relative;
   z-index: 999;
   background: #fff;

   &__logo {
      width: clamp(150px, 10vw, 200px);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
         transform: scale(1.05);
      }
   }

   button {
      @media (max-width: 720px) {
         display: none;
      }
   }
}
